.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 86vh;
  background-color: white;
  width: 92%;
  margin: 4rem;
  border-radius: 5px;
}

.calculate_background {
  width: 100%;
  margin: 2rem;
  background-color: #ececec;
  border-radius: 5px;
  padding: 3rem;
  display: grid;
  grid-template-rows: auto;
  box-shadow: 1px 1px 5px #000808;
}

.calculate_background_item {
  width: 98%;
  margin: 0.25rem;
  background-color: white;
  border-radius: 5px;
  padding: 3rem;
}

/* Form Css */
.form_container {
  display: flex;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #717171;
  border-radius: 5px;
}

.form_input_full {
  margin: 0px 5px;
  border: 1px solid #b4b4b4;
  width: 60%;
  padding: 10px;
  border-radius: 5px;
}

.form_input_mid {
  margin: 0px 5px;
  border: 1px solid #b4b4b4;
  width: 25%;
  padding: 10px;
  border-radius: 5px;
}
